@model IEnumerable<BlogApplication.Models.Article>

@foreach (var item in Model)
{
    
   <a href="@Url.Action("Edit","Home",new {id=item.Id})"><span class="label label-warning">@Html.DisplayFor(modelItem=>item.Title)</span></a> 
    <br /> 
    @Html.DisplayFor(modelItem=>item.Content)
    <br />
    <br />
}